/* Tabela Ranking */
.gridCard {
 text-align: center;
 color: rgb(34, 17, 1); 
 table-layout: fixed;
  box-sizing: border-box;
  height: 52vh;
}
.gridCard thead th {
  background-color:  rgb(4, 70, 53);
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

.gridCard tbody th { 
  position: sticky; 
  left: 0; 
}

.hederGrid{
  color: white;
  font-size: 0.75rem;  
}

.cardd {
  border: solid 2px rgb(4, 70, 53);;
  background-color: rgba(127, 255, 212, 0.384);
} 

.cardd div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link{
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: lighter;
}

.cardd .img {
  border-radius: 100%;
  min-width: 30px;
  max-width: 60px;
}
 
.cardd td:last-child{ 
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.cardd th{ 
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;  
}

/* ImagemPodio */
.containerPodio h1{
  text-shadow: black 0.1em 0.1em 0.2em

}

.containerImage{
  position: relative;
  width: 100%;
  max-width: 500px;
}

.imgPodio{  
  z-index: 0;
  width: 100%;
  max-width: 500px;
 
}

.i{
  border-radius: 100%;
}

.i1{
  width: 26%;
  height: 44%;
  box-shadow: gold 0.1em 0.1em 0.2em;
  position: absolute; 
  z-index: 2;
  top: 27%;
  left: 37%; 
  
}

.i2{
  width: 21%;
  height: 34%;
  box-shadow: gray 0.1em 0.1em 0.2em;
  position: absolute; 
  z-index: 3;
  top: 42%;
  left: 13%; 

}

.i3{
  width: 19%;
  height: 32%;
  box-shadow: rgb(255, 187, 0) 0.1em 0.1em 0.2em;
  position: absolute; 
  z-index: 4;
  top: 49%;
  left: 66%; 
}

.icon{
  width: 30px;
  height: 30px;
  margin-left: 35px;
  margin-right: 35px;
}