.gridPlayer h3 {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.gridPlayer input {
width: 100%;
margin-bottom: 10px;
}


.tablePlayers{
  background-color: rgba(127, 255, 212, 0.384);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: rgb(34, 17, 1);
  max-height: 70vh;
  overflow-y: scroll;
}

.tablePlayers label{
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  height: 40px; 
}

.tablePlayers input {
  width: 20px;
  height: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.274);

}

.tablePlayers img {
  border-radius: 100%;
  margin-left: 5px;
  margin-right: 8px;
  min-width: 10px;
  max-width: 30px;
  max-height: 50px;
}